@charset "UTF-8";

/* itemの基本レイアウト */

.flex--box {
    color: #fff;
    background-color: #00bbdd;
    width: 65px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}


/* Q5-１ここから */


/* 左寄せ横並び順番通り */

.display--flex--row {
    display: flex;
}


/* 右寄せ横並び順番逆 */

.display--flex--reverse {
    display: flex;
    flex-direction: row-reverse;
}


/* 縦並び順番通り */

.display--flex--column {
    flex-direction: column;
}


/* 縦並び順番逆 */

.display--flex--column--reverse {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
}


/* Q5-1ここまで */


/* Q5-2ここから */


/* 横並び折り返さない */

.display--no--wrap {
    display: flex;
    flex-wrap: nowrap;
}


/* 横並び折り返す */

.display--wrap {
    display: flex;
    flex-wrap: wrap;
}


/* 横並び折り返し順逆 */

.display--wrap--reverse {
    display: flex;
    flex-wrap: wrap-reverse;
}


/* Q5-2ここまで */


/* Q5-3ここから */


/* 左から配置 */

.justify--content--left {
    display: flex;
    justify-content: left;
}


/* 右側から配置 */

.justify--content--right {
    display: flex;
    justify-content: right;
}


/* 真ん中に配置 */

.justify--content--center {
    display: flex;
    justify-content: center;
}


/* 均等に配置左右は壁寄せ */

.justify--content--space--between {
    display: flex;
    justify-content: space-between;
}


/* 均等に配置左右には余白 */

.justify--content--space--around {
    display: flex;
    justify-content: space-around;
}


/* Q5-3ここまで */


/* Q5-4ここから */