@charset "UTF-8";

/* itemの基本レイアウト */

.flex--box {
    color: #fff;
    background-color: #00bbdd;
    width: 65px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}


/* Q5-１ここから */


/* 左寄せ横並び順番通り */

.display--flex--row {
    /* ブロック要素のように動作 フレックスボックスモデルに従ってレイアウト */
    display: flex;
}


/* 右寄せ横並び順番逆 */

.display--flex--reverse {
    display: flex;
    /* 主軸の方向や向き (通常または逆方向) を定義 */
    flex-direction: row-reverse;
}


/* 縦並び順番通り */

.display--flex--column {
    flex-direction: column;
}


/* 縦並び順番逆 */

.display--flex--column--reverse {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
}


/* Q5-1ここまで */


/* Q5-2ここから */


/* 横並び折り返さない */

.display--no--wrap {
    display: flex;
    /* フレックスアイテムを単一行に押し込むか、あるいは複数行に折り返してもよいかを指定  */
    flex-wrap: nowrap;
}


/* 横並び折り返す */

.display--wrap {
    display: flex;
    flex-wrap: wrap;
}


/* 横並び折り返し順逆 */

.display--wrap--reverse {
    display: flex;
    flex-wrap: wrap-reverse;
}


/* Q5-2ここまで */


/* Q5-3ここから */


/* 左から配置 */

.justify--content--left {
    display: flex;
    /* フレックスコンテナーの主軸およびグリッドコンテナーのインライン軸に沿って、中身のアイテムの間や周囲に間隔を配置する方法を定義 */
    justify-content: left;
}


/* 右側から配置 */

.justify--content--right {
    display: flex;
    justify-content: right;
}


/* 真ん中に配置 */

.justify--content--center {
    display: flex;
    justify-content: center;
}


/* 均等に配置左右は壁寄せ */

.justify--content--space--between {
    display: flex;
    justify-content: space-between;
}


/* 均等に配置左右には余白 */

.justify--content--space--around {
    display: flex;
    justify-content: space-around;
}


/* Q5-3ここまで */


/* Q5-4ここから */


/* grid--template--culumnsグリッド列の線名とトラックのサイズ変更機能を定義  */

.grid--columns {
    /* grid ブロック要素のように動作しつつ、そのコンテンツをグリッドモデルに従ってレイアウト  */
    display: grid;
    grid-template-columns: 200px 200px 200px;
    /* gapで行や列の間のすき間 (溝) を定義 row-gap および column-gap の一括指定  */
    gap: 10px;
}

.grid--fr {
    display: grid;
    /* [ｆｒ」単位とは「fraction(比率)」のことで、親要素から見た子要素の大きさを割合で指定  */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.grid--rows {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    grid-template-rows: 200px 200px;
    gap: 10px;
}

.grid--wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
    margin-top: 20px;
}

.grid--item {
    padding: 10px;
    color: #fff;
    background-color: #00bbdd;
}


/* item2をベースにそれぞれ色と配置を変更 */

.red--box {
    /* grid-column グリッド列の中におけるグリッドアイテムの寸法と位置を指定 グリッド領域の行の先頭と末尾の端を指定*/
    grid-column: 1/3;
    background-color: #dd0700;
}

.green--box {
    grid-row: 2/4;
    background-color: #0bdd00;
}

.yellow--box {
    grid-column: 2/4;
    background-color: #d9dd00;
}